body {
  background-color: #000;
  color: #fff;
  font-size: 0.9vw;
}

img {
  width: 100%;
}

a {
  color: #fff;
}

.inner {
  padding: 1vw 1.5vw;
  margin: 0 auto;
}
@media screen and (max-width:800px) {
  .inner {
    padding: 3vw 2vw;
  }
}

.util_title {
  text-align: center;
  font-size: 4vw;
  margin-top: 13vw;
  margin-bottom: 4vw;
}
@media screen and (max-width:800px) {
  .util_title {
    font-size: 6vw;
  }
}

header {
  position: relative;
  overflow: hidden;
}
header .block {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 0.9px solid #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  right: 50%;
  top: 50%;
  opacity: 0.1;
}
@media screen and (max-width:800px) {
  header .block {
    outline: 0.2px solid rgba(255, 255, 255, 0.7);
  }
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}
header .nav h1 a {
  font-size: 2vw;
  padding: 0.3vw;
  border: 1px solid #fff;
  transition: opacity 0.3s;
}
@media screen and (max-width:800px) {
  header .nav h1 a {
    font-size: 3vw;
  }
}
header .nav h1 a:hover {
  opacity: 0.6;
}
@media screen and (max-width:800px) {
  header .nav .pc_nav {
    display: none;
  }
}
header .nav .pc_nav ul {
  display: flex;
}
header .nav .pc_nav ul li {
  margin-left: 1.5vw;
}
header .nav .pc_nav ul li a {
  position: relative;
  font-size: 1.2vw;
  transition: opacity 0.3s;
}
header .nav .pc_nav ul li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
header .nav .pc_nav ul li a:hover::after {
  transform: scale(1, 1);
}
header .nav .pc_nav ul li a:hover {
  opacity: 0.6;
}
header .nav #nav_area {
  display: none;
}
@media screen and (max-width:800px) {
  header .nav #nav_area {
    display: block;
  }
}
header .nav #nav_area .sp_nav {
  position: fixed;
  top: 15vw;
  right: -20rem;
  width: 13rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 4s, right 0.8s;
}
header .nav #nav_area .sp_nav.active {
  right: 4vw;
  opacity: 1;
  visibility: visible;
}
header .nav #nav_area .sp_nav ul li {
  margin-bottom: 2rem;
}
header .nav #nav_area .sp_nav ul li a {
  font-size: 1.7rem;
  display: block;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0.7rem 0;
}
header .nav #nav_area .sp_nav ul li a:hover {
  background-color: rgb(138, 138, 138);
}
header .nav #nav_area .toggle_btn {
  position: fixed;
  top: 3vw;
  right: 2vw;
  width: 6vw;
  height: 5vw;
  z-index: 3;
  transition: all 0.9s;
  cursor: pointer;
}
header .nav #nav_area .toggle_btn.active span {
  background-color: #fff;
}
header .nav #nav_area .toggle_btn.active span:nth-child(1) {
  transform: translate(14px, 5px) rotate(-410deg);
}
header .nav #nav_area .toggle_btn.active span:nth-child(2) {
  opacity: 0;
}
header .nav #nav_area .toggle_btn.active span:nth-child(3) {
  transform: translate(15px, -10px) rotate(410deg);
}
header .nav #nav_area .toggle_btn span {
  position: absolute;
  width: 5vw;
  height: 1px;
  background-color: #fff;
  top: 0;
  right: 50%;
  transform: translateX(47%);
}
header .nav #nav_area .toggle_btn span:nth-child(1) {
  top: 1vw;
  transition: transform 0.8s, background 1s;
}
header .nav #nav_area .toggle_btn span:nth-child(2) {
  top: 2.5vw;
  transition: opacity 1s, background 1s;
}
header .nav #nav_area .toggle_btn span:nth-child(3) {
  top: 4vw;
  transition: transform 0.8s, background 1s;
}
header .nav #nav_area #mask {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  opacity: 0.8;
  z-index: 1;
}
header .nav #nav_area #mask.active {
  display: block;
}
header .main {
  width: 100%;
  height: 100vh;
  background: url(../imgs/main.jpg) no-repeat center center/cover;
  display: grid;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:800px) {
  header .main {
    background: url(../imgs/main_sp.jpg) no-repeat center center/cover;
  }
}
header .main h2 {
  z-index: 2;
  font-size: 4vw;
  letter-spacing: 1vw;
  padding: 1.5vw 2.5vw;
  border: 3px solid #fff;
}
@media screen and (max-width:800px) {
  header .main h2 {
    font-size: 7vw;
  }
}

.profile {
  max-width: 80%;
  margin: 0 auto;
}
.profile section .profile_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:800px) {
  .profile section .profile_box {
    display: block;
  }
}
.profile section .profile_box .profile_item_left {
  width: 50%;
  text-align: right;
  padding-right: 1.2vw;
}
@media screen and (max-width:800px) {
  .profile section .profile_box .profile_item_left {
    width: 100%;
    text-align: center;
    margin-bottom: 3vw;
  }
}
.profile section .profile_box .profile_item_left img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
.profile section .profile_box .profile_item_right {
  width: 50%;
}
@media screen and (max-width:800px) {
  .profile section .profile_box .profile_item_right {
    width: 70%;
    text-align: left;
    margin: 0 auto;
  }
}
.profile section .profile_box .profile_item_right h3 {
  text-align: center;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  margin-bottom: 1.8vw;
  padding-bottom: 0.5vw;
}
.profile section .profile_box .profile_item_right p {
  line-height: 1.3;
  font-size: 1vw;
}

.skill {
  width: 80%;
  margin: 0 auto;
}
.skill section .skill_item_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill section .skill_item_box .skill_box {
  width: calc((100% - 0.8vw) / 2);
  border: 1px solid #fff;
  margin-bottom: 1vw;
  padding: 2vw 1vw 1vw 1vw;
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: center;
}
@media screen and (max-width:800px) {
  .skill section .skill_item_box .skill_box {
    padding: 3vw 2vw 2vw 2vw;
  }
}
.skill section .skill_item_box .skill_box .skill_item {
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: center;
}
.skill section .skill_item_box .skill_box .skill_item .title {
  font-size: 2.4vw;
  margin-bottom: 1.5vw;
}
.skill section .skill_item_box .skill_box .skill_item .text {
  font-size: 0.8vw;
  margin-bottom: 4vw;
  line-height: 1.2;
}
.skill section .skill_item_box .skill_box .skill_item .skill_item_list_box table thead tr th {
  font-size: 1.3vw;
  padding-bottom: 1.7vw;
  width: 8vw;
  position: relative;
}
.skill section .skill_item_box .skill_box .skill_item .skill_item_list_box table thead tr th::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 1.3vw;
  left: 0;
  right: 0;
  transform: translateX(20%);
}
.skill section .skill_item_box .skill_box .skill_item .skill_item_list_box table tbody tr td {
  font-size: 0.9vw;
  padding-bottom: 1.2vw;
  letter-spacing: 0.2vw;
}
.skill section .skill_item_box .skill_box .skill_item .skill_item_list ol li:not(:last-child) {
  padding-bottom: 1vw;
}
.skill section .skill_item_box .skill_box .skill_item .skill_item_list ol li p {
  font-size: 1.2vw;
}

.works section .works_item_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width:800px) {
  .works section .works_item_box {
    display: block;
  }
}
.works section .works_item_box .works_item {
  width: calc((100% - 1.2vw) / 3);
  border: 0.2px solid #fff;
  text-align: center;
  padding: 2vw 1vw 1vw 1vw;
  display: grid;
  justify-items: center;
  align-content: center;
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item {
    width: 70%;
    margin: 0 auto;
    padding: 5vw 2vw 2vw 2vw;
  }
  .works section .works_item_box .works_item:not(:last-child) {
    margin-bottom: 4vw;
  }
}
.works section .works_item_box .works_item .works_title {
  font-size: 2.4vw;
  margin-bottom: 3.5vw;
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item .works_title {
    font-size: 3vw;
    margin-bottom: 5vw;
  }
}
.works section .works_item_box .works_item .works_text {
  text-align: left;
  margin-bottom: 2vw;
  line-height: 1.3;
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item .works_text {
    font-size: 2px;
    margin-bottom: 5vw;
  }
}
.works section .works_item_box .works_item .works_text span {
  font-size: 0.5vw;
}
.works section .works_item_box .works_item .works_language {
  margin-bottom: 2vw;
  color: #999;
  font-size: 0.8vw;
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item .works_language {
    margin-bottom: 5vw;
  }
}
.works section .works_item_box .works_item .works_another_text {
  line-height: 1.2;
  font-size: 0.6vw;
  padding-bottom: 2vw;
  color: rgb(255, 124, 124);
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item .works_another_text {
    margin-bottom: 5vw;
  }
}
.works section .works_item_box .works_item .github_link {
  position: relative;
  margin-bottom: 2vw;
}
@media screen and (max-width:800px) {
  .works section .works_item_box .works_item .github_link {
    margin-bottom: 5vw;
  }
}
.works section .works_item_box .works_item .github_link::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -0.2vw;
  transform: scale(1, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
.works section .works_item_box .works_item .github_link:hover::after {
  transform: scale(0, 1);
}
.works section .works_item_box .works_item .github_link:hover {
  opacity: 0.7;
}
.works section .works_item_box .works_item .app_link {
  overflow: hidden;
}
.works section .works_item_box .works_item .app_link img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s;
}
.works section .works_item_box .works_item .app_link img:hover {
  transform: scale(1.1);
}

.contact .contact_item {
  text-align: center;
}
.contact .contact_item p {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}
@media screen and (max-width:800px) {
  .contact .contact_item p {
    margin-bottom: 3vw;
  }
}
.contact .contact_item a {
  font-size: 4vw;
  transition: opacity 0.8s;
}
@media screen and (max-width:800px) {
  .contact .contact_item a {
    font-size: 7vw;
  }
}
.contact .contact_item a:hover {
  opacity: 0.6;
}

footer {
  margin-top: 13vw;
  border-top: 1px solid #fff;
  padding: 1.5vw;
  text-align: center;
}
footer nav {
  margin-bottom: 1vw;
}
footer nav ul {
  display: flex;
  justify-content: center;
}
footer nav ul li:not(:last-child) {
  margin-right: 1vw;
}
footer nav ul li a {
  position: relative;
  font-size: 1.2vw;
  transition: opacity 0.3s;
}
footer nav ul li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
footer nav ul li a:hover::after {
  transform: scale(1, 1);
}
footer nav ul li a:hover {
  opacity: 0.6;
}
footer p small {
  color: #999;
  font-size: 0.6vw;
}

.top_scroll {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  border-radius: 5px;
  outline: 1px solid #fff;
  color: #fff;
  width: 4vw;
  height: 4vw;
  font-size: 1.2vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s, visibility 3s;
}
@media screen and (max-width:800px) {
  .top_scroll {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
  }
}
.top_scroll.active {
  opacity: 1;
  visibility: visible;
}
.top_scroll:hover {
  opacity: 0.5;
}