// color
$main_color: #000;
$main_font_color: #fff;
$sum_font_color: #999;

// responsive
$breakpoints: (
  "sp": "screen and (max-width:800px)",
  "pc": "screen and (min-width:801px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

// common
body {
  background-color: $main_color;
  color: $main_font_color;
  font-size: 0.9vw;
}

img {
  width: 100%;
}

a {
  color: $main_font_color;
}

.inner {
  padding: 1vw 1.5vw;
  margin: 0 auto;
  @include mq(sp) {
    padding: 3vw 2vw;
  }
}

.util_title {
  text-align: center;
  font-size: 4vw;
  margin-top: 13vw;
  margin-bottom: 4vw;
  @include mq(sp) {
    font-size: 13vw;
    margin-top: 28vw;
    margin-bottom: 10vw;
  }
}

// header
header {
  position: relative;
  overflow: hidden;
  .block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: 0.9px solid $main_font_color;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    right: 50%;
    top: 50%;
    opacity: 0.1;
    @include mq(sp) {
      outline: 0.2px solid rgba(255, 255, 255, 1);
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    h1 {
      a {
        font-size: 2vw;
        padding: 0.3vw;
        border: 1px solid $main_font_color;
        transition: opacity 0.3s;
        @include mq(sp) {
          font-size: 30px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }

    .pc_nav {
      @include mq(sp) {
        display: none;
      }
      ul {
        display: flex;
        li {
          margin-left: 1.5vw;
          a {
            position: relative;
            font-size: 1.2vw;
            transition: opacity 0.3s;
            &::after {
              position: absolute;
              left: 0;
              content: "";
              width: 100%;
              height: 1px;
              background-color: $main_font_color;
              bottom: -1px;
              transform: scale(0, 1);
              transform-origin: left top;
              transition: transform 0.3s;
            }
            &:hover::after {
              transform: scale(1, 1);
            }
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
    // ハンバーガー
    //nav
    #nav_area {
      display: none;
      @include mq(sp) {
        display: block;
      }
      // menu
      .sp_nav {
        position: fixed;
        top: 15vw;
        right: -20rem;
        width: 13rem;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: opacity 4s, right 0.8s;
        &.active {
          right: 4vw;
          opacity: 1;
          visibility: visible;
        }
        ul {
          li {
            margin-bottom: 2rem;
            a {
              font-size: 1.7rem;
              display: block;
              color: $main_font_color;
              border-bottom: 1px solid $main_font_color;
              padding: 0.7rem 0;
              &:hover {
                background-color: rgb(138, 138, 138);
              }
            }
          }
        }
      }
      // btn
      .toggle_btn {
        position: fixed;
        top: 3vw;
        right: 2vw;
        width: 6vw;
        height: 5vw;
        z-index: 3;
        transition: all 0.9s;
        cursor: pointer;

        &.active {
          span {
            background-color: #fff;

            &:nth-child(1) {
              transform: translate(14px, 7px) rotate(-410deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translate(15px, -12px) rotate(410deg);
            }
          }
        }

        span {
          position: absolute;
          width: 30px;
          height: 1px;
          background-color: $main_font_color;
          top: 0;
          right: 50%;
          transform: translateX(47%);
          &:nth-child(1) {
            top: 10px;
            transition: transform 0.8s, background 1s;
          }

          &:nth-child(2) {
            top: 20px;
            transition: opacity 1s, background 1s;
          }

          &:nth-child(3) {
            top: 30px;
            transition: transform 0.8s, background 1s;
          }
        }
      }

      #mask {
        width: 100%;
        height: 100%;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
        opacity: 0.8;
        z-index: 1;

        &.active {
          display: block;
        }
      }
    }
  }
  // main
  .main {
    width: 100%;
    height: 100vh;
    background: url(../imgs/main.jpg) no-repeat center center/cover;
    display: grid;
    justify-content: center;
    align-items: center;
    @include mq(sp) {
      background: url(../imgs/main_sp.jpg) no-repeat center center/cover;
      object-fit: cover;
    }
    h2 {
      z-index: 2;
      font-size: 4vw;
      letter-spacing: 1vw;
      padding: 1.5vw 2.5vw;
      border: 3px solid $main_font_color;
      @include mq(sp) {
        font-size: 10vw;
      }
    }
  }
}

// profile
.profile {
  max-width: 80%;
  margin: 0 auto;
  section {
    .profile_box {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq(sp) {
        display: block;
      }
      .profile_item_left {
        width: 50%;
        text-align: right;
        padding-right: 1.2vw;
        @include mq(sp) {
          width: 100%;
          text-align: center;
          margin-bottom: 8vw;
        }
        img {
          width: 25vw;
          height: 25vw;
          border-radius: 50%;
        }
      }
      .profile_item_right {
        width: 50%;
        @include mq(sp) {
          width: 100%;
          text-align: left;
          margin: 0 auto;
        }
        h3 {
          text-align: left;
          letter-spacing: 0.3vw;
          font-size: 1.5vw;
          margin-bottom: 1.8vw;
          padding-bottom: 0.5vw;
          @include mq(sp) {
            text-align: center;
            font-size: 6vw;
            margin-bottom: 8vw;
          }
        }
        p {
          line-height: 1.4;
          font-size: 1vw;
          @include mq(sp) {
            font-size: 3.5vw;
            line-height: 1.6;
          }
        }
      }
    }
  }
}

// skill
.skill {
  width: 80%;
  margin: 0 auto;
  section {
    .skill_item_box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mq(sp) {
        display: block;
      }
      .skill_box {
        width: calc((100% - 0.8vw) / 2);
        border: 1px solid $main_font_color;
        margin-bottom: 1vw;
        padding: 2vw 1vw 1vw 1vw;
        text-align: center;
        display: grid;
        justify-items: center;
        align-content: center;
        @include mq(sp) {
          padding: 10vw 2vw;
          width: 100%;
          margin: 0 auto 3vw;
        }
        .skill_item {
          text-align: center;
          display: grid;
          justify-items: center;
          align-content: center;
          .title {
            font-size: 2.4vw;
            margin-bottom: 3vw;
            @include mq(sp) {
              font-size: 8vw;
              margin-bottom: 8vw;
            }
          }
          .text {
            font-size: 0.8vw;
            margin-bottom: 4vw;
            line-height: 1.2;
            width: 70%;
            @include mq(sp) {
              font-size: 3vw;
              margin-bottom: 12vw;
              width: 70%;
            }
          }
          .skill_item_list_box {
            table {
              thead {
                tr {
                  th {
                    font-size: 1.3vw;
                    padding-bottom: 1.7vw;
                    width: 8vw;
                    position: relative;
                    @include mq(sp) {
                      font-size: 4vw;
                      width: 18vw;
                      padding-bottom: 3vw;
                    }
                    &::after {
                      content: "";
                      width: 70%;
                      height: 1px;
                      background-color: $main_font_color;
                      position: absolute;
                      bottom: 1.3vw;
                      left: 0;
                      right: 0;
                      transform: translateX(20%);
                    }
                  }
                }
              }
              tbody {
                tr {
                  td {
                    font-size: 0.9vw;
                    padding-bottom: 1.2vw;
                    letter-spacing: 0.2vw;
                    @include mq(sp) {
                      font-size: 4vw;
                      line-height: 2.5;
                    }
                  }
                }
              }
            }
          }
          .skill_item_list {
            ol {
              li {
                &:not(:last-child) {
                  padding-bottom: 1vw;
                }
                p {
                  font-size: 1.2vw;
                  @include mq(sp) {
                    font-size: 4vw;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// works
.works {
  @include mq(sp) {
    width: 90%;
  }
  section {
    .works_item_box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mq(sp) {
        display: block;
      }
      .works_item {
        width: calc((100% - 1.2vw) / 3);
        border: 0.2px solid $main_font_color;
        text-align: center;
        padding: 2vw 1vw 1vw 1vw;
        display: grid;
        justify-items: center;
        align-content: center;
        @include mq(sp) {
          padding: 12vw 2vw 2vw 2vw;
          width: 100%;
          margin: 0 auto 3vw;
          &:not(:last-child) {
            margin-bottom: 4vw;
          }
        }
        .works_title {
          font-size: 2.4vw;
          margin-bottom: 3.5vw;
          @include mq(sp) {
            font-size: 8vw;
            margin-bottom: 12vw;
          }
        }
        .works_text {
          text-align: left;
          margin-bottom: 2vw;
          line-height: 1.3;
          @include mq(sp) {
            width: 90%;
            font-size: 3vw;
            margin-bottom: 12vw;
          }
          span {
            font-size: 0.5vw;
            @include mq(sp) {
              font-size: 3vw;
            }
          }
        }
        .works_language {
          margin-bottom: 2vw;
          color: $sum_font_color;
          font-size: 0.8vw;
          @include mq(sp) {
            margin-bottom: 12vw;
            font-size: 3vw;
          }
        }
        .works_another_text {
          line-height: 1.2;
          font-size: 0.6vw;
          padding-bottom: 2vw;
          color: rgb(255, 124, 124);
          @include mq(sp) {
            margin-bottom: 12vw;
            font-size: 2.5vw;
          }
        }
        .github_link {
          position: relative;
          margin-bottom: 2vw;
          @include mq(sp) {
            margin-bottom: 12vw;
            font-size: 3vw;
          }
          &::after {
            position: absolute;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
            background: $main_font_color;
            bottom: -0.2vw;
            transform: scale(1, 1);
            transform-origin: right top;
            transition: transform 0.3s;
          }
          &:hover::after {
            transform: scale(0, 1);
          }
          &:hover {
            opacity: 0.7;
          }
        }
        .app_link {
          overflow: hidden;
          img {
            object-fit: cover;
            transition: transform 1s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

// contact
.contact {
  .contact_item {
    text-align: center;
    p {
      font-size: 1.2vw;
      margin-bottom: 3vw;
      @include mq(sp) {
        margin-bottom: 5vw;
        font-size: 3vw;
      }
    }
    a {
      font-size: 4vw;
      transition: opacity 0.8s;
      @include mq(sp) {
        font-size: 10vw;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

// footer
footer {
  margin-top: 13vw;
  padding: 1.5vw;
  text-align: center;
  @include mq(sp) {
    padding: 4vw;
  }
  p {
    small {
      color: $sum_font_color;
      font-size: 0.6vw;
      @include mq(sp) {
        font-size: 2.2vw;
      }
    }
  }
}

//top scroll
.top_scroll {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  border-radius: 5px;
  outline: 1px solid $main_font_color;
  color: $main_font_color;
  width: 4vw;
  height: 4vw;
  font-size: 1.2vw;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s, visibility 3s;
  @include mq(sp) {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    opacity: 0.5;
  }
}
